################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MandelbrotRenderer/x64/Release/vc142.pdb
