################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MandelbrotRenderer/x64/Release/vc142.pdb
/MandelbrotRenderer/x64/Release/MandelbrotRendererAPI.obj
/MandelbrotRenderer/x64/Release/MandelbrotRenderer.vcxproj.FileListAbsolute.txt
/MandelbrotRenderer/x64/Release/MandelbrotRenderer.log
/MandelbrotRenderer/x64/Release/MandelbrotRenderer.dll.recipe
/MandelbrotRenderer/x64/Release/MandelbrotRenderer.Build.CppClean.log
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/MandelbrotRenderer.write.1u.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/MandelbrotRenderer.lastbuildstate
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/link.write.1.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/link.read.1.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/link.command.1.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/CL.write.1.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/CL.read.1.tlog
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/CL.command.1.tlog
/MandelbrotRenderer/x64/Release/dllmain.obj
/MandelbrotRenderer/x64/Debug/vc142.pdb
/MandelbrotRenderer/x64/Debug/vc142.idb
/MandelbrotRenderer/x64/Debug/MandelbrotRendererAPI.obj
/MandelbrotRenderer/x64/Debug/MandelbrotRenderer.vcxproj.FileListAbsolute.txt
/MandelbrotRenderer/x64/Debug/MandelbrotRenderer.log
/MandelbrotRenderer/x64/Debug/MandelbrotRenderer.dll.recipe
/MandelbrotRenderer/x64/Debug/MandelbrotRenderer.Build.CppClean.log
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/MandelbrotRenderer.write.1u.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/MandelbrotRenderer.lastbuildstate
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.write.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.read.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.command.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/CL.write.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/CL.read.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/CL.command.1.tlog
/MandelbrotRenderer/x64/Debug/dllmain.obj
/MandelbrotViewer/bin/x64/Release/MandelbrotViewer.pdb
/MandelbrotViewer/bin/x64/Release/MandelbrotViewer.exe.config
/MandelbrotViewer/bin/x64/Release/MandelbrotViewer.exe
/MandelbrotViewer/bin/x64/Debug/MandelbrotViewer.pdb
/MandelbrotViewer/bin/x64/Debug/MandelbrotViewer.exe.config
/MandelbrotViewer/bin/x64/Debug/MandelbrotViewer.exe
/MandelbrotViewer/obj/x86/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MandelbrotViewer/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.ViewerForm.resources
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.RenderPanel.resources
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.Properties.Resources.resources
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.pdb
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.OverviewPanel.resources
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.exe
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.csproj.GenerateResource.cache
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.csproj.FileListAbsolute.txt
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.csproj.CoreCompileInputs.cache
/MandelbrotViewer/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MandelbrotViewer/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.ViewerForm.resources
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.RenderPanel.resources
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.Properties.Resources.resources
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.pdb
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.OverviewPanel.resources
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.exe
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.csprojAssemblyReference.cache
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.csproj.GenerateResource.cache
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.csproj.FileListAbsolute.txt
/MandelbrotViewer/obj/x64/Debug/MandelbrotViewer.csproj.CoreCompileInputs.cache
/MandelbrotViewer/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MandelbrotViewer/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
/MandelbrotViewer/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MandelbrotViewer/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MandelbrotViewer/obj/Debug/MandelbrotViewer.csprojAssemblyReference.cache
/MandelbrotViewer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MandelAmp/v16/Solution.VC.db-wal
/.vs/MandelAmp/v16/Solution.VC.db-shm
/.vs/MandelAmp/v16/Solution.VC.db
/.vs/MandelAmp/v16/Browse.VC.opendb
/.vs/MandelAmp/v16/Browse.VC.db-wal
/.vs/MandelAmp/v16/Browse.VC.db-shm
/.vs/MandelAmp/v16/Browse.VC.db
/.vs/Mandel/v16/Browse.VC.db
/.vs/Mandel/v16/.suo
/x64/Release/MandelbrotRenderer.pdb
/x64/Release/MandelbrotRenderer.lib
/x64/Release/MandelbrotRenderer.ipdb
/x64/Release/MandelbrotRenderer.iobj
/x64/Release/MandelbrotRenderer.exp
/x64/Release/MandelbrotRenderer.dll
/x64/Debug/MandelbrotRenderer.pdb
/x64/Debug/MandelbrotRenderer.lib
/x64/Debug/MandelbrotRenderer.ilk
/x64/Debug/MandelbrotRenderer.exp
/x64/Debug/MandelbrotRenderer.dll
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.csprojAssemblyReference.cache
*.suo
*.ipch
*.pdb
*.obj
*.exe
*.dll
*.lib
*.ilk
/MandelbrotRenderer/x64/Release/Mandelbr.8fd82e77.tlog/link.delete.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.5188.delete.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.23876.delete.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.22252.delete.1.tlog
/MandelbrotRenderer/x64/Debug/Mandelbr.8fd82e77.tlog/link.15620.delete.1.tlog
/x64/Release/MandelbrotViewer.exe.config
/x64/Debug/MandelbrotViewer.exe.config
/MandelbrotViewer/obj/x64/Debug
/MandelbrotViewer/obj/x64/Release/MandelbrotViewer.csproj.AssemblyReference.cache
*.cache
*.tlog
/.vs/MandelAmp/v17/Current
/MandelbrotRenderer/x64/Debug
/MandelbrotRenderer/x64/Release
/.vs/MandelAmp/v17/Browse.VC.opendb
/.vs/MandelAmp/v17/Browse.VC.db-wal
/.vs/MandelAmp/v17/Browse.VC.db-shm
.vs/MandelAmp/project-colors.json
.vs/MandelAmp/project-colors.json
.vs/MandelAmp/v17/Browse.VC.db
.vs/MandelAmp/v17/Browse.VC.db-shm
.vs/MandelAmp/v17/Browse.VC.db-wal
.vs/MandelAmp/v17/fileList.bin
.vs/MandelAmp/v17/Solution.VC.db
.vs/MandelAmp/v17/Solution.VC.db-shm
.vs/MandelAmp/v17/Solution.VC.db-wal
x64
